body {
    margin: 0;
    padding: 0;
    color: #222;
}
.container {
}
.header {
    height: 100px;
}
.form-cent{
    width: 640px;
    margin: 0 auto;
}
.form-cent .url-ipt {
    width: 520px;
    height: 28px;
}
.form-cent .url-btn {
    width: 100px;
    height: 32px;
}
.text-center {
    text-align: center;
}
.url-option {
    margin-top: 10px;
    font-size: 10px;
}
